

  <% if @restaurants.any? %>
    <% @restaurants.map do |restaurant| %>
      <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
      <p><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></p>

    <% end %>
  <% else %>
    No restaurants yet
  <% end %>

<%= link_to 'Add a restaurant', new_restaurant_path %>
